.carousel-card div {
    min-height: unset;
    line-height: inherit;
}

.carousel-card .ant-card-head {
    margin: 0 10px;
    padding: 0;
}

.carousel-card .ant-table-cell {
    padding: 3px;
    margin: 3px;
    max-width: fit-content;
}

.carousel-card .ant-card-head-title {
    padding: 3px;
    margin: 3px 0;
}

.carousel-card .ant-card-body {
    padding: 4px;
}
