
.site-layout-sub-header-background {
  background: #fff;
}

.sider-layout-background {
  text-align: left;
  background: aliceblue;
  min-width: 60px;
  max-width: 60px;
  padding: 0;
  margin: 0;
}

.manage-layout {
  min-height: 900px;
}

.sider-layout-menu {
  background: aliceblue;
  max-width: 40px;
  margin: 0;
}

.menu-item .ant-menu-item {
  padding: 0;
}

.v-center {
  padding-left: 8px ! important;
  display: flex; /*Flex布局*/
  display: -webkit-flex; /* Safari */
  align-items: center; /*指定垂直居中*/
  justify-content: flex-start;
}
