.carousel-card {
  div{
    min-height: unset;
    line-height: inherit;
  }
  .ant-card-head {
    margin: 0 10px;
    padding: 0;
  }
  .ant-card-head-title{
    padding: 0;
    margin: 3px 0;
  }
  .ant-card-body {
    padding: 4px;
  }
}

.carousel-table {
  .ant-table-cell{
    padding: 4px;
  }
}

.v-center {
  display:flex;/*Flex布局*/
  display: -webkit-flex; /* Safari */
  align-items:center;/*指定垂直居中*/
  justify-content: flex-start;
}